<html>
    <head>
        <meta charset="UTF-8">
        <title>Bike Rental Predict</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <br>
            <br>
            <br>
            <h2>
                요청 하신 날의 자전거 대여 수는 {{predict}}대 입니다
            </h2>
            <br>
            <br>
            <br>
        </div>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="http://localhost:3000/public/dashboard/cd32fa4d-f468-4c17-b887-5b5187a9d6fc" role="button" aria-expanded="false" aria-controls="collapseExample">
              dashboard
            </a>
        </p>

    </body>
</html>

